In [1]:
import pandas as pd
import numpy as np

barrios = pd.read_csv("sample_data/barrios.csv")
casos = pd.read_csv("sample_data/casos.csv")
comunas = pd.read_csv("sample_data/comunas.csv")

In [2]:
#Punto 1
import pandas as pd
import numpy as np

df1 = barrios

df2 = df1
condicion = df1.comuna.isin([3])
df2 = df2[condicion]
print(df2[{'barrio', "area", "perimetro"}])

            area    perimetro         barrio
12  2.043711e+06  5987.226479  SAN CRISTOBAL
24  4.342280e+06  8375.821811      BALVANERA

In [3]:
#Punto 2
df3 = df1
condicion2 = (df1.comuna <= 10) & (df1.comuna >= 4)
df3 = df3[condicion2]
print(df3[{'barrio', "area", "perimetro"}])

            area     perimetro             barrio
4   4.050752e+06   8537.901368            ALMAGRO
5   6.851029e+06  10990.964471          CABALLITO
7   2.627481e+06   7361.036418       MONTE CASTRO
8   1.334146e+06   5070.965652         VILLA REAL
9   8.590784e+06  15772.439510             FLORES
10  2.320641e+06   7519.654092           FLORESTA
13  2.609851e+06   6602.510266              BOEDO
14  2.400518e+06   7045.578332    VELEZ SARSFIELD
15  2.566937e+06   8652.930031         VILLA LURO
16  3.743440e+06   7878.434993   PARQUE PATRICIOS
17  7.398179e+06  11124.635792          MATADEROS
18  9.296142e+06  15057.468389       VILLA LUGANO
29  7.953453e+06  12789.791771           BARRACAS
30  4.732708e+06  10165.614028  PARQUE AVELLANEDA
31  3.832117e+06   8406.914321   PARQUE CHACABUCO
32  4.951511e+06  11033.510302      NUEVA POMPEYA
34  4.232596e+06  10596.826739    VILLA RIACHUELO
35  8.688164e+06  12441.695877      VILLA SOLDATI
38  4.374419e+06   9256.927321            LINIERS
39  1.406834e+06   5650.466286          VERSALLES
47  5.036240e+06  20060.003939               BOCA

In [4]:
#Punto 3
df4 = df1
print(df4[{"perimetro", "area", "barrio"}].iloc[5])

area         6851028.91357
perimetro     10990.964471
barrio           CABALLITO
Name: 5, dtype: object

In [5]:
#Punto 4
df7 = barrios
valorNan = np.nan

def ver_barrio(valor):
  valor = str(valor)  
  if valor[0] == "V":
    return valor
  return None

df7["barrio"]= df7["barrio"].apply(ver_barrio)
df7 = df7.dropna()
print(df7["barrio"].index)

Int64Index([2, 3, 6, 8, 14, 15, 18, 22, 25, 28, 34, 35, 36, 37, 39], dtype='int64')

In [6]:
#Punto 5
df8 = barrios
valorNan = np.nan

def ver_barrio(valor):
  valor = str(valor)
  for letra in valor:  
    if letra == "A":
      return valor
  return None

df8["barrio"]= df8["barrio"].apply(ver_barrio)
df8 = df8.dropna()
print(df8["area"])

2     3.615978e+06
3     3.399596e+06
6     2.153691e+06
8     1.334146e+06
14    2.400518e+06
15    2.566937e+06
18    9.296142e+06
22    5.449059e+06
25    2.162275e+06
28    1.853802e+06
34    4.232596e+06
35    8.688164e+06
36    3.303240e+06
37    6.404481e+06
39    1.406834e+06
Name: area, dtype: float64

In [7]:
#Punto 6
df4 = df1
print(df4[{"perimetro"}].iloc[15])

perimetro    8652.930031
Name: 15, dtype: float64

In [8]:
#Punto 7
df4 = df1
print(df4[{"area"}].iloc[7])

area    2.627481e+06
Name: 7, dtype: float64

In [9]:
#Punto 8
import numpy as np
df9 = casos
df9b = barrios

condicionCasos = (df9.numero_de_caso < 7000000) & (df9.numero_de_caso > 6000000)
df9 = df9[condicionCasos]
array = []


def barriosSeleccionados(value):
  if value not in array:
    return np.nan
  return value
  
array = df9["barrio"].to_numpy()

df9b["barrio"] = df9b["barrio"].apply(barriosSeleccionados)

df9b = df9b.dropna()

print(df9b[{"barrio", "comuna"}])

    comuna         barrio
22      12  VILLA URQUIZA
28      15  VILLA ORTUZAR

In [18]:
#Punto 9
df10b = pd.read_csv("sample_data/barrios.csv")
df10c = casos
df10b = df10b.iloc[2]
barrio = df10b["barrio"]

condicionBarrio3 = df10c.barrio == barrio
df10c = df10c[condicionBarrio3]


print(df10c[{"genero", "edad"}])

     edad     genero
19     68  masculino
49     25  masculino
160    58  masculino
167    35   femenino
208    34  masculino
230    69  masculino
231    45  masculino
240    77  masculino
264    43  masculino
266    38   femenino
435    42   femenino
446    72  masculino

In [21]:
#Punto 10
df11b = pd.read_csv("sample_data/barrios.csv")
df11c = pd.read_csv("sample_data/casos.csv")

condicionCasosInvestigar = df11c.tipo_contagio == "En Investigación"

df11c = df11c[condicionCasosInvestigar]

def getBarriosInvestigados(value):
  if value not in array2:
    return np.nan
  return value

array2 = df11c["barrio"].to_numpy()

df11b["barrio"] = df11b["barrio"].apply(getBarriosInvestigados)

df11b = df11b.dropna()

print(df11b["barrio"])

0             CHACARITA
7          MONTE CASTRO
9                FLORES
11         CONSTITUCION
13                BOEDO
14      VELEZ SARSFIELD
17            MATADEROS
18         VILLA LUGANO
19            SAN TELMO
20             SAAVEDRA
24            BALVANERA
25    VILLA GRAL. MITRE
29             BARRACAS
30    PARQUE AVELLANEDA
31     PARQUE CHACABUCO
33              PALERMO
35        VILLA SOLDATI
41            MONSERRAT
44             RECOLETA
46                NUÑEZ
Name: barrio, dtype: object

In [24]:
#Punto 11
df12b = pd.read_csv("sample_data/barrios.csv")
df11c = pd.read_csv("sample_data/casos.csv")
menores = df11c.edad < 18

df11c = df11c[menores]


def getBarriosInvestigados(value):
  if value not in array2:
    return np.nan
  return value

array2 = df11c["barrio"].to_numpy()

df11b["barrio"] = df11b["barrio"].apply(getBarriosInvestigados)

df11b = df11b.dropna()

print(df11b["barrio"])

0        CHACARITA
9           FLORES
17       MATADEROS
18    VILLA LUGANO
44        RECOLETA
Name: barrio, dtype: object

In [73]:
#Punto 12
df13b = pd.read_csv("sample_data/barrios.csv")
df13c = pd.read_csv("sample_data/casos.csv")
df13c = df13c[df13c["barrio"].notna()]

mayores4 = df13b.index < 4

df13b = df13b[mayores4]
barrios = df13b["barrio"].to_numpy()

df13c = df13c[df13c["barrio"].isin(barrios)]

print(df13c[{"numero_de_caso", "genero", "edad"}])

     edad  numero_de_caso     genero
7      29         7673498  masculino
19     68         7673629  masculino
49     25         7692683  masculino
99     18         7718539  masculino
150    30         7721916  masculino
154    31         7722007  masculino
160    58         7725230  masculino
161    33         7725232  masculino
167    35         7726081   femenino
208    34         7735475  masculino
230    69         7736770  masculino
231    45         7736847  masculino
240    77         7736991  masculino
264    43         7717778  masculino
266    38         7717796   femenino
280    63         7718104  masculino
346    58         9690247   femenino
354    52        10487114  masculino
379    40         8367848   femenino
413    56         6270671  masculino
435    42        15519416   femenino
437    27         1629445   femenino
446    72         5018271  masculino
451    72         5362506  masculino
459    25         5321867   femenino
509    41         7721664   femenino
566    21         4888070   femenino
569     7         4927681   femenino

In [71]:
#Punto 13
df14c = pd.read_csv("sample_data/casos.csv")

df14c = df14c[df14c["comuna"].notna()]

df13c = df13c[df13c["comuna"] != 13]


print(df13c[{"numero_de_caso", "genero", "edad"}])

     edad  numero_de_caso     genero
7      29         7673498  masculino
19     68         7673629  masculino
49     25         7692683  masculino
99     18         7718539  masculino
150    30         7721916  masculino
154    31         7722007  masculino
160    58         7725230  masculino
161    33         7725232  masculino
167    35         7726081   femenino
208    34         7735475  masculino
230    69         7736770  masculino
231    45         7736847  masculino
240    77         7736991  masculino
264    43         7717778  masculino
266    38         7717796   femenino
280    63         7718104  masculino
346    58         9690247   femenino
354    52        10487114  masculino
379    40         8367848   femenino
413    56         6270671  masculino
435    42        15519416   femenino
437    27         1629445   femenino
446    72         5018271  masculino
451    72         5362506  masculino
459    25         5321867   femenino
509    41         7721664   femenino
566    21         4888070   femenino
569     7         4927681   femenino